.artist-main {
    display: table;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    .artist-title {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
}