.create-event-main {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    top: 50px;
    .create-event-card {
        border-radius: 6px;
        box-shadow: 2px 4px 18px 0 rgba(0,0,0,.1);
        background-color: white;
    }
    .content-card {
        text-align: center;
        color: darkgray;
    }
    .create-event-radio-group {
        display: inline-flex;
        flex-direction: row;
    }
    .mat-input {
        border-bottom: 1px solid darkgray;
    }
    .mat-input:focus {
        border-bottom: none !important;
    }
    .action-card {
        button {
            margin-top: -35px;
        }
    }
    .create-event-mat-wrapper {
        width:500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .mat-input {
        border-bottom: 1px solid darkgray;
    }
    .mat-input:focus {
        border-bottom: none !important;
    }
}