<div class="login-main">
    <div class="login-mat-wrapper">
        <mat-card class="login-card">
            <mat-card-content class="content-card">
                <h1 style="color: darkslategrey;"> Login</h1>
                
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label class="content-card">Sign in with your email id</mat-label>
                    <input type="email" style="color: black;" class='mat-input' matInput>
                    <mat-hint style="color: darkgray;">example@domain.com</mat-hint>
                </mat-form-field>
                <br>
                <mat-form-field style="width: 100%" appearance="outline">
                    <mat-label class="content-card">Password</mat-label>
                    <input type="password" style="color: black;" class='mat-input' matInput>
                    <mat-hint style="color: darkgray;">Must be atleast 6 characters</mat-hint>
                </mat-form-field>
                <br>
                <br>
                <button mat-raised-button colour="primary" style="width: 100%; background-color: cadetblue;">Log
                    In</button>
                <br>
                <br>
                <p style="font-size: small; color: grey ;">OR</p>

                <button mat-raised-button colour="primary" style="width: 100%; background-color: antiquewhite;"
                    class="content-card"><span><img style="width: 20px;height: 20px;"
                            src="assets/img/google_icon.png"></span>&nbsp;&nbsp;&nbsp;Sign In with Google</button>

                <br>
                <br>
                <div>
                    <button mat-raised-button colour="primary" style="width: 100%; background-color: antiquewhite;"
                        class="content-card"><span><img style="width: 20px;height: 20px;"
                                src="assets/img/facebook_icon.png"></span>&nbsp;&nbsp;&nbsp;Sign In with
                        Facebook</button>
                </div>
                <br>
            </mat-card-content>
        </mat-card>
    </div>
</div>