<div class='main'>
	<div class="container-fluid">
		<div class="logo-container">
			<a class="nav-item" routerLink="/" routerLinkActive="active">
				<img src={{logoPath}} class="logo">
			</a>
			<!-- <span style="display: block; font-size: 20px; color: black; text-align: center;">ArtHub</span> -->
			<span style="display: block; text-align: center; font-weight: 300; margin-top: 10px;">Connecting Art, Artists and Audience</span>
		</div>
		<app-nav-bar></app-nav-bar>
	</div>
	<div class="container">
		<router-outlet></router-outlet>
	</div>
</div>