<div class="home-main">
    <!-- This is home -->
    <div class="home-mat-wrapper">
        <mat-card class="example-card" style="max-width: 800px; margin-bottom: 20px; margin-left: 10%;">
            <mat-card-content class="content-card">
                <form class="example-form">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label class="content-card">Country</mat-label>
                        <input type="text" style="color: black;" class='mat-input' matInput placeholder="please enter country"
                            aria-label="Country" [formControl]="countryControl" [matAutocomplete]="countryauto">
                        <mat-autocomplete #countryauto="matAutocomplete">
                            <mat-option *ngFor="let country of filteredCountries" [value]="country">
                                <span>{{country}}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field> 
                    <mat-form-field style="width: 20%;" appearance="outline">
                        <mat-label class="content-card">Genre</mat-label>
                        <input type="text" style="color: black;" class='mat-input' matInput placeholder="please enter genre"
                            aria-label="Genre" [formControl]="genreControl" [matAutocomplete]="genreauto">
                        <mat-autocomplete #genreauto="matAutocomplete">
                            <mat-option *ngFor="let genre of filteredGenres" [value]="genre">
                                <span>{{genre}}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field style="width: 20%;" appearance="outline">
                        <mat-label class="content-card">Artist</mat-label>
                        <input type="text" style="color: black;" class='mat-input' matInput placeholder="please enter Artist"
                            aria-label="Artist" [formControl]="artistControl" [matAutocomplete]="artistauto">
                        <mat-autocomplete #artistauto="matAutocomplete">
                            <mat-option *ngFor="let artist of filteredArtists" [value]="artist">
                                <span>{{artist}}</span>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <button mat-raised-button colour="primary" style="width: 20%; background-color: #bf2c27; margin-left: 5px;">Search</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <div style="background-color: grey; width: 130%; margin-left: -15%; overflow-x: hidden;">
        <app-artist></app-artist>
    </div>
    <div>
        <app-event></app-event>
    </div>
</div>